
body {
  background: #f9f7f2;
  color: #13120d;
  font-family: 'Rokkitt', serif;
}
h3{
  color:#4e4935;
  text-align: right;
  margin-right: 25rem;
  margin-bottom: 5rem;
}

h3:hover{
  color:white;
}

h1{
  color:#4e4935;
  margin-bottom: 5rem;
}

a:active{
  color: white;
}

.chat-title{
  text-transform: uppercase;
}

.chat-image{
  height: auto;
  max-width: 400px;
  width: 100%;
}

.animals-image{
  height: auto;
  max-width: 400px;
  width: 100%;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

img:hover{
  opacity: .5;
}

header{
  background-color:#f3f0e6;
  color: #4e4935;
  height: 100px;
  text-align: center;
  padding-top: 5px;
  margin-top:-2px;
}

footer{
  background-color: #ede9da;
  color: black;
  height: 40px;
  text-align: center;
  padding-top: 1px;
}


.content{
  text-align: center;
}

.content2{
  margin-left: 15rem;
}

  img{
background-color: #cccccc;
zoom:1;
box-shadow: 5px 2px 15px 5px #4e4935;
}

@media only screen{#selecteur{filter: none;}} /*Ie9+*/

.text{
  width:50rem;
}
